@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}
<div>تلاش سوم</div>
<table>
    <tr>
        <td style="width: 100%;" valign="top">
            @Html.StiNetCoreViewer(new StiNetCoreViewerOptions()
            {
            Actions =
            {
            GetReport = "GetReport",
            ViewerEvent = "ViewerEvent"
            }
            })
        </td>
    </tr>
</table>